<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="thunderbird-private" value="%NUGET_FEED_URL%" protocolVersion="3" />
  </packageSources>
  <packageSourceCredentials>
    <thunderbird-private>
      <add key="Username" value="%NUGET_FEED_USERNAME%" />
      <add key="ClearTextPassword" value="%NUGET_FEED_TOKEN%" />
    </thunderbird-private>
  </packageSourceCredentials>
</configuration>
